/* src/App.css */
.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.layout-editor {
  position: relative;
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.draggable-item {
  /* padding: 10px; */
  /* margin: 10px 0; */
  margin: 5px;
  background-color: #ddd;
  border: 1px solid #ccc;
  cursor: grab;
}

.layout-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  position: relative;
}

.layout-item button {
  position: absolute;
  top: 5px;
  right: 5px;
}

